@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --color-gray-100: #eeeeef;
  --color-gray-200: #e6e9ed;
  --color-gray-600: #95989c;

  --color-purple-600: #5046e4;
  --color-purple-500: #3e38a7;
  --color-purple-300: #e0e7fe;
}